OPENAI_API_KEY=your_api_key #自身のAPI KEYを張り付け
# OPENAI_MODEL=qwen3-30b-a3b # 日本語対応していない？？
OPENAI_MODEL=mistral-7b-instruct
# OPENAI_MODEL=gpt-4
# OPENAI_MODEL=gpt-3.5-turbo
# OPENAI_MODEL=gpt-4-32k
OPENAI_SSL_VERIFY=false